h1 {
  background-color: aliceblue;
  color: gray;
  padding: 10px;
  border-top: 5px solid lightgray;
  border-bottom: 5px solid lightgray;
  text-align:center;
}
figure {
    height: 50%;
    width: 33%;
    background-color: lightgray;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    border: 5px solid lightgray;
    margin-right: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px ;
    padding: 10px;
}

ul {
    list-style: none;
    display: inline-block;
    padding: 10px;
    height: 50%;
    width: 35%;
    overflow-y: scroll;
    background-color: aliceblue;
    border: 5px solid lightgray;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px ;
}
li {
}
button {
  margin: 5px;
  padding: 10px;
  border-radius: 100px;
  width: 98%;
  background-color: lightgray;
  border: 1px solid lightgray;
}
div {
    margin: 3%;
    margin-left: 5%;
}

select {
    width: 30%;
    background-color: aliceblue;
    border: 5px solid lightgray;
    padding: 15px;
}

input {
    padding: 15px;
    background-color: aliceblue;
    border: 5px solid lightgray;
}
